
.menu-bar {
    -fx-background-color: #000000;
    -fx-padding: 0;
}


.menu-bar .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}


.menu-bar .menu:hover {
    -fx-background-color: #ff0000;
}


.menu-bar .menu:showing {
    -fx-background-color: #cc0000;
}

.context-menu {
    -fx-background-color: #222222;
}


.menu-item .label {
    -fx-text-fill: white;
}


.menu-item:focused {
    -fx-background-color: #ff0000;
}


.table-view {
    -fx-base: #2b2b2b;
    -fx-control-inner-background: #2b2b2b;
    -fx-background-color: #2b2b2b;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}


.table-view .column-header-background {
    -fx-background-color: #000000;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: #000000;
    -fx-size: 35px;
    -fx-border-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}


.table-row-cell {
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-border-color: transparent;
}


.table-row-cell:odd {
    -fx-background-color: #2b2b2b;
}


.table-cell {
    -fx-text-fill: white;
    -fx-alignment: CENTER_LEFT;
}


.table-view:focused .table-row-cell:selected,
.table-view .table-row-cell:selected {
    -fx-background-color: #cc0000;
    -fx-text-fill: white;
}


.table-view .scroll-bar:horizontal,
.table-view .scroll-bar:vertical {
    -fx-background-color: transparent;
}
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: #555555;
    -fx-background-radius: 5em;
}

